/* addEntryStyles.css */

.container {
    max-width: 500px;
    margin: auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-top: 20px;
  }
  
  .heading {
    text-align: center;
    margin-bottom: 20px;
  }
  
  .input-field {
    margin-bottom: 10px;
  }
  
  .input-field label {
    display: block;
    margin-bottom: 5px;
  }
  
  .input-field input {
    width: 90%;
    padding: 8px;
    border-radius: 5px;
    border: 1px solid #ccc;
  }
  
  .submit-btn {
    width: 50%;
    padding: 10px;
    background-color: #007bff;
    color: #fff;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    margin-top: 10px;
  }
  
/* Media Queries for Tablet */
@media screen and (max-width: 1024px) {
  .container {
      max-width: 80%; /* Adjust max-width for tablet screens */
  }

  .submit-btn {
      width: 50%; /* Adjust button width for tablet screens */
  }
}

/* Media Queries for Mobile */
@media screen and (max-width: 600px) {
  .container {
      padding: 10px; /* Adjust padding for mobile screens */
  }

  .input-field input {
      width: 90%; /* Input field occupies full width on mobile */
  }

  .submit-btn {
      width: 95%; /* Button occupies full width on mobile */
      margin-top: 20px; /* Increase margin-top for better spacing */
      text-align: center;
  }
}